*.html
*.Rhistory
models/
literature/
archive/
admin/
figures/
raw_data/
stanik_replication_package/
tables/
__pycache__/
keys.py
.DS_Store
notes.txt
data/embeddings.pkl
data/umap_embeddings.pkl
data/umap_embeddings_plot.pkl
data/preprocessed_tweets.feather
data/top_n_words_per_topic.csv
output/master_thesis.pptx